a {
    color: #333;
}

:global(.iconfont) {
    font-size: 22px;
}

:global(.am-card-body) {
    padding: 0px 15px 6px !important;
}

:global(.am-card-body::before) {
    display: none !important;
}

:global(.am-activity-indicator) {
    display: block !important;
    text-align: center;
}

:global(.am-activity-indicator .am-activity-indicator-spinner) {
    margin-top: 54px;
}